/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f5f9;
    color: #333;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  /* ------- ESTILOS DOS CABEÇALHOS ------- */
  header {
    display: flex;
    position: fixed;
    top: 1%;
    width: 100%;
    height: 5%;
    background: linear-gradient(180deg, rgba(255, 252, 252, 1) 0%, rgba(191, 191, 191, 1) 50%, rgba(177, 177, 177, 1) 100%);
    border-radius: 5px 5px;
  }

  nav {
    width: 100%;
    display: inline-flex;
  }
  
  nav ul {
    padding: 3px;
    margin: 3px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px; 
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  nav a:hover {
    border-bottom: 3px solid blue;
  }

  .menu-navegação {
    width: 91%;
  }

  .redes-sociais {
    width: 9%;
  }
  
  .redes-sociais ul li:hover {
    animation: image-move 1s ease;
  }
  
  @keyframes image-move {
    15% { transform: translateX(7px); }
    30% { transform: translateX(-7px); }
    50% { transform: translateX(3px); }
    65% { transform: translateX(-3px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0); }
  }
  
  /* ESTILOS DO CONTEÚDO */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 190px; 
  }
  
  /* ESTILOS DO RODAPÉ */
  footer {
    position: fixed;
    text-align: center;
    bottom: 5px;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: #F3F5F9; /* Alterado para uma cor sólida para melhor legibilidade */
  }
  
  /* ESTILO ESPECÍFICOS DAS PÁGINAS */
  /* HOME PAGE */
  .video-home {
    margin-top: -120px;
  }
  
  /* ABOUT PAGE */
  .about {
    display: grid;
    justify-items: center;
    background: linear-gradient(180deg, rgba(243, 245, 249, 1) 40%, rgba(6, 82, 233, 0.178) 70%, rgba(243, 245, 249, 1) 80%);
    width: 100%;
    margin-top: -130px;
  }
  
  .photo-about img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  
  .about-specs {
    text-align: justify;
    max-width: 60%;
  }
  
  /* SERVICES PAGE */
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: -50px;*/
  }
  
  .lang-box {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .lang-box img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  
  .specs h1 {
    font-size: 1.5em;
    color: #333;
  }
  
  .specs p {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* PORTFOLIO PAGE */
  .myPortfolio {
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfolioItem {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .portfolioPhoto {
    width: 100%;
    height: auto;
  }
  
  .portfolioDescription {
    margin-top: 10px;
  }
  
  .portfolioDescription h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .portfolioDescription p {
    color: #666;
  }
  
  /* CONTACTME PAGE */
  .contact-form {
    /*display: flex;
    flex-flow: row wrap;*/
    width: 50%;
    justify-content: center;
    /*align-items: center;*/
    margin: auto;
  }
  
  .contact-form form input[type="text"],
  .contact-form form input[type="email"],
  .contact-form form input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin: 8px;
    border: 1px solid;
  }
  
  .contact-form form button {
    background-color: #0F1120;
    border-radius: 6px;
    color: #F3F5F9;
    padding: 14px;
    margin: auto;
    border-style: solid;
    cursor: pointer;
  }
  
  .contact-form form button:hover {
    opacity: 0.4;
  }
  
  @media screen and (max-width: 768px) {
    .portfolioItem {
      width: calc(50% - 20px); /* Altera para duas colunas em telas menores */
    }
  }
